
  
  <!-- START BREADCRUMB -->
  <ul class="breadcrumb">
    <li>
      <a [routerLink]="['/admin']">Admin</a>
    </li>
    <li class="active">Dashboard</li>
  </ul>
  <!-- END BREADCRUMB -->

  <!-- PAGE CONTENT WRAPPER -->
  <div class="page-content-wrap">

    <div class="row" style="margin-bottom:10px;">
      <div class="col-md-12">

          <h3>Estatus de los pedidos</h3>
         
            <p-dropdown [options]="pedidos" [(ngModel)]="selectedP" [style]="{'width':'130px'}"></p-dropdown>
  
            <p-calendar [(ngModel)]="dateValue" dateFormat="yy-mm-dd" showButtonBar="true" [locale]="es" [showIcon]="true"></p-calendar> 


      </div>
    </div>

    <!-- START WIDGETS -->
    <div class="row">

      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-4" style="padding-left: 0!important;">
            <!-- START WIDGET MESSAGES -->
              <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
              <div class="widget-item-left">
                <span class="fa fa-envelope"></span>
              </div>
              <div class="widget-data">
                <div class="widget-int num-count">48</div>
                <div class="widget-title">New messages</div>
                <div class="widget-subtitle">In your mailbox</div>
              </div>
              <div class="widget-controls">
                <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget">
                  <span class="fa fa-times"></span>
                </a>
              </div>
            </div>
            <!-- END WIDGET MESSAGES -->
          </div>
          <div class="col-12 col-md-4">
            <!-- START WIDGET MESSAGES -->
              <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
              <div class="widget-item-left">
                <span class="fa fa-envelope"></span>
              </div>
              <div class="widget-data">
                <div class="widget-int num-count">48</div>
                <div class="widget-title">New messages</div>
                <div class="widget-subtitle">In your mailbox</div>
              </div>
              <div class="widget-controls">
                <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget">
                  <span class="fa fa-times"></span>
                </a>
              </div>
            </div>
            <!-- END WIDGET MESSAGES -->
          </div>
          <div class="col-12 col-md-4">
              <!-- START WIDGET MESSAGES -->
                <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
                <div class="widget-item-left">
                  <span class="fa fa-envelope"></span>
                </div>
                <div class="widget-data">
                  <div class="widget-int num-count">48</div>
                  <div class="widget-title">New messages</div>
                  <div class="widget-subtitle">In your mailbox</div>
                </div>
                <div class="widget-controls">
                  <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget">
                    <span class="fa fa-times"></span>
                  </a>
                </div>
              </div>
              <!-- END WIDGET MESSAGES -->
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4" style="padding-left: 0!important;">
                <!-- START WIDGET MESSAGES -->
                  <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
                  <div class="widget-item-left">
                    <span class="fa fa-envelope"></span>
                  </div>
                  <div class="widget-data">
                    <div class="widget-int num-count">48</div>
                    <div class="widget-title">New messages</div>
                    <div class="widget-subtitle">In your mailbox</div>
                  </div>
                  <div class="widget-controls">
                    <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget">
                      <span class="fa fa-times"></span>
                    </a>
                  </div>
                </div>
                <!-- END WIDGET MESSAGES -->
              </div>
              <div class="col-12 col-md-4">
                  <!-- START WIDGET MESSAGES -->
                    <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
                    <div class="widget-item-left">
                      <span class="fa fa-envelope"></span>
                    </div>
                    <div class="widget-data">
                      <div class="widget-int num-count">48</div>
                      <div class="widget-title">New messages</div>
                      <div class="widget-subtitle">In your mailbox</div>
                    </div>
                    <div class="widget-controls">
                      <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget">
                        <span class="fa fa-times"></span>
                      </a>
                    </div>
                  </div>
                  <!-- END WIDGET MESSAGES -->
                </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p-chart type="bar" [data]="data"></p-chart>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <h3>Inventario</h3>

          <div class="tabs panel-inventario">                            
              <ul class="nav nav-tabs" role="tablist">
                  <li class="active"><a href="#tab-total" role="tab" data-toggle="tab">Total</a></li>
                  <li><a href="#tab-mas" role="tab" data-toggle="tab">Productos con más inventario</a></li>
                  <li><a href="#tab-menos" role="tab" data-toggle="tab">Productos con menos inventario</a></li>
              </ul>                            
              <div class="tab-content" style="padding:0!important;">
                  <div class="tab-pane active " id="tab-total">
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-info">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-info">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-info">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-info">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-info">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-info">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-info">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-info">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-info">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-info">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                  </div>
                  <div class="tab-pane " id="tab-mas">
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-success">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-success">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-success">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-success">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-success">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-success">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                  </div>
                  <div class="tab-pane " id="tab-menos">
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-danger">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-danger">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-danger">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                      <div class="col-md-2">                        
                          <a href="#" class="tile tile-danger">
                              15
                              <p>September</p>                            
                              <div class="informer informer-default dir-tr"></div>
                          </a>                       
                      </div>
                  </div>
                </div>
          </div>  




      </div>
    </div>


  </div>