<!-- START BREADCRUMB -->
<ul class="breadcrumb push-down-0">
  <li>
    <a [routerLink]="['/admin']">Admin</a>
  </li>
  <li>
    <a [routerLink]="['/almacen']">Catalogos</a>
  </li>
  <li class="active">{{titulo}}</li>
</ul>
<!-- END BREADCRUMB -->  

<!-- PAGE TITLE -->
<div class="page-title">
  <h2>
    <span class="fa fa-arrow-circle-o-left"></span> {{ titulo }}</h2>
</div>
<!-- END PAGE TITLE -->


<!-- Modal -->
<div class="modal fade" id="modal-export-data" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-file-excel"></i> Exportar CSV</h5>
        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="modal-export-data">
         <button class="btn btn-primary btn-block btn-export" data-dismiss="modal" (click)="exportdata(1)">Exportar Todo</button>
         <button class="btn btn-primary btn-block btn-export" data-dismiss="modal" (click)="exportdata(0)">Exportar Filtro</button>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cerrar-modal" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>




<p-dialog header="{{titleForm}}" [(visible)]="display" [modal]="true" [responsive]="true" [minY]="70" styleClass="responsive-modal" (click)="close($event)">

   <!--<div  *ngIf="viewImage" class="row text-center">
        <div class="col-12">
              <img src="http://apigarden.com/img/users/{{ viewImage }}" alt="{{ selectedProduct.nombre }}">
        </div>
    </div>-->
  
  <form #updateForm="ngForm" [formGroup]="form" (ngSubmit)="submit(form.value, btnForm)" >

    <div class="row">
      <div class="col-12 col-sm-6">
        <div id="nombre" class="form-group">
          <label class="control-label">Nombre:</label>
          <input type="text" class="form-control" name="nombre" formControlName="nombre" [(ngModel)]="usuario.nombre" required tabindex="1">
          <span id="icon_nombre"></span>
        </div>   
        <div id="materno" class="form-group">
            <label class="control-label">Apellido Materno:</label>
            <input type="text" class="form-control" name="materno" formControlName="materno" [(ngModel)]="usuario.materno" required tabindex="3">
            <span id="icon_materno"></span>
        </div>
        <div id="email" class="form-group">
            <label class="control-label">Email:</label>
            <input type="text" class="form-control" name="email" formControlName="email" [(ngModel)]="usuario.email" required tabindex="5">
            <span id="icon_email"></span>
        </div>
        <div id="password" class="form-group">
            <label class="control-label">Contraseña:</label>
            <input type="text" class="form-control" name="password" formControlName="password" [(ngModel)]="usuario.password" required tabindex="7">
            <span id="icon_password"></span>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div id="paterno" class="form-group">
            <label class="control-label">Apellido Paterno:</label>
            <input type="text" class="form-control" name="paterno" formControlName="paterno" [(ngModel)]="usuario.paterno" required tabindex="2">
            <span id="icon_paterno"></span>
        </div>
        <div id="usuario" class="form-group">
            <label class="control-label">Usuario:</label>
            <input type="text" class="form-control" name="usuario" formControlName="usuario" [(ngModel)]="usuario.usuario" required tabindex="4">
            <span id="icon_usuario"></span>
        </div>
        <div id="rol" class="form-group">
            <label class="control-label">Rol:</label>
            <select class="form-control" name="rol" formControlName="rol" [(ngModel)]="usuario.rol" required tabindex="6">
              <option value="0">- Seleccione -</option>
              <option *ngFor="let rol of roles" value="{{ rol.id }}">{{ rol.nombre }}</option>
            </select>
            <span id="icon_rol"></span>
        </div>
        <div id="password_r" class="form-group">
            <label class="control-label">Repite Contraseña:</label>
            <input type="text" class="form-control" name="password_r" formControlName="password_r" [(ngModel)]="usuario.password_r" required tabindex="8">
            <span id="icon_password_r"></span>
        </div>
      </div>
    </div>      
    <br>
    <div class="row">
        <div class="col-12">
            <div id="imagen" class="form-group">
                <label class="control-label">Imagen:</label>
                <input type="file" class="form-control" name="imagen" formControlName="imagen" [(ngModel)]="usuario.imagen" required tabindex="9">
                <span id="icon_imagen"></span>
            </div>
        </div>
    </div>
    <br>
    <p-footer>
        <button type="submit" pButton icon="pi pi-check" label="{{btnForm}}"></button>
        <button type="button" pButton icon="pi pi-times" (click)="closeModal()" label="Cancelar"></button>
    </p-footer>
  </form>

</p-dialog>




<p-confirmDialog></p-confirmDialog>


<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

<!-- START RESPONSIVE TABLES -->
<div class="row">
    <div class="col-md-12">

      <div class="panel panel-default "><!-- panel-refreshing -->
  
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-lg-8">
              <form #searchForm="ngForm" (ngSubmit)="onSearch()" class="search-data">
                <div>
                  <input type="text" class="form-control" name="search" #search="ngModel" [(ngModel)]="dataForm.search" placeholder="Buscar..."/>
                </div>
                <div class="input-group">
                  <span class="input-group-addon">
                    Orden
                  </span>
                  <select class="form-control" name="order" #order="ngModel" [(ngModel)]="dataForm.order">
                    <option value="desc">Descendente</option>
                    <option value="asc">Ascendente</option>
                  </select>
                </div>
                <div class="input-group">
                  <span class="input-group-addon">
                    Rol
                  </span>
                  <select class="form-control" name="rol" #rol="ngModel" [(ngModel)]="dataForm.rol">
                    <option value="0">Todos</option>
                    <option value="2">Agente</option>
                    <option value="3">Administrador</option>
                    <option value="4">Contabilidad</option>
                  </select>
                </div>
                <div>
                  <input type="submit" value="Buscar" class="btn btn-primary input-submit">
                </div>
              </form>
            </div>
            <div class="col-xs-12 col-sm-2 col-lg-4">
              <ul class="panel-controls">
                <li>
                  <button  class="button-panel-table" data-toggle="modal" data-target="#modal-export-data">
                    <span class="fas fa-file-export"></span>
                  </button>
                </li>
                <li>
                  <button (click)="refresh()" class="button-panel-table">
                       <span class="fa fa-refresh"></span>
                  </button>
                </li>
                <li>
                  <button (click)="showDialog()" class="button-panel-table">
                    <span class="fa fa-plus"></span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          
          
        
        </div>
  
        <div class="panel-body panel-body-table">
  
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-actions">
              <thead>
                <tr>
                  <th width="50">Id</th>
                  <th width="100">Nombre</th>
                  <th width="100">Usuario</th>
                  <th width="50">Email</th>
                  <th width="50">Rol</th>
                  <th width="50">Imagen</th>
                  <th width="50">Fecha</th>
                  <th width="50">Editar</th>
                  <th width="50">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dataobjetc" class="task-item">
                  <td>{{ data.id }}</td>
                  <td>{{ data.nombre_completo }}</td>
                  <td>{{ data.usuario }}</td>
                  <td>{{ data.email }}</td>
                  <td>
                    <span *ngIf="data.rol_id === 2" class="label label-info">{{ data.rol }}</span>
                    <span *ngIf="data.rol_id === 3" class="label label-success">{{ data.rol }}</span>
                    <span *ngIf="data.rol_id === 4" class="label label-primary">{{ data.rol }}</span>
                  </td>
                  <td>
                    <span (click)="view(data.imagen)" style="font-size: 115%!important;cursor:pointer;" *ngIf="data.imagen != null" class="label label-info"><span class="fa fa-eye fa-lg"></span></span>
                    <span (click)="view(data.imagen)" style="font-size: 115%!important;cursor:pointer;" *ngIf="data.imagen == null  " class="label label-default"><span class="fa fa-eye-slash fa-lg"></span></span>
                  </td>
                  <td>{{ data.created_at }}</td>
                  <td>
                    <button class="btn btn-default btn-rounded btn-sm" (click)="edit(data.id)">
                      <span class="fa fa-pencil"></span>
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-danger btn-rounded btn-sm" (click)="delete(data.id, data.clave)">
                      <span class="fa fa-times"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  
        <div class="panel-footer panel-footer-pagination">
          <div>
            Mostrar
            <select name="page" class="form-control" [(ngModel)]="numberPage" (change)="onChange()">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
              <option value="60">60</option>
              <option value="70">70</option>
              <option value="80">80</option>
              <option value="90">90</option>
              <option value="100">100</option>
              <option value="200">200</option>
            </select>
            registros
          </div>
          <div class="dataTables_paginate" *ngIf="dataobjetc && dataobjetc.length >= 1">
            <a class="paginate_button page-first-child" (click)="nPage(pageCurrent)">
              Primero
            </a>
            <a class="paginate_button" (click)="nPage(pagePrev)">
              <span aria-hidden="true">&laquo;</span>
            </a>
            <span *ngFor="let page of pages">
        
              <a *ngIf="page == currentPage" class="paginate_button current" (click)="nPage(page)">{{ page}}</a>
              <a *ngIf="page != currentPage" class="paginate_button" (click)="nPage(page)">{{ page }}</a>
        
            </span>
            <a class="paginate_button" (click)="nPage(pNext)">
              <span aria-hidden="true">&raquo;</span>
            </a>
            <a class="paginate_button page-last-child" (click)="nPage(pageNext)">
              Último
            </a>
          </div>
        </div>

        <div class="info-paginacion">
          {{ infoPaginacion }}
        </div>

        <div class="panel-refresh-layer2 {{loader}}" ><img src="assets/img/loaders/default.gif"></div>
  
        
      </div>
  
    </div>
</div>
<!-- END RESPONSIVE TABLES -->

</div>
<!-- END PAGE CONTENT WRAPPER -->