.button-panel-table:hover{
    border-color: #999;
    color: #1b1e24;
}

.button-panel-table{
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    color: #22262e;
    border: 1px solid #BBB;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    margin-left: 3px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    background:transparent;
}




.boton-paginacion{
    background:red!important;
}

.button_page_select{
    background:blue;
}



    .button_page_select{
        z-index: 3;
        color: #fff;
        background: #FF3333;
        border-color: #F11F1F; 
    }

    .button_page_select:hover{
        color: #fff;
		background: #FF3333;
        border-color: #F11F1F; 
	}



    .button_page{
        background:white;
	}
	
